<div class="container-form">
  <%= form_for @user do |f| %>
    <% if f.object.errors.any? %>
      <ul>
        <% f.object.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    <% end %>
    <fieldset class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </fieldset>
    <div class="margin-10">
      <%= f.submit "Create User", class: "btn btn-blue" %>
    </div>
  <% end %>
</div>
