
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Gallery Dump</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
        <li><%= link_to "Logout", :logout %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
        <li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
        <li><%= link_to "Logout", :logout %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
